html {
  box-sizing: border-box;
  font-size: 32px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 375px;
}

.container-calc {
  background-color: var(--main-bg);
  padding: 25px;
}

.container-calc h1 {
  color: var(--white-text);
  font-size: 1rem;
  margin-bottom: 20px;
}

.screen-section {
  width: 100%;
  background-color: var(--screen-bg);
  border-radius: 8px;
  color: var(--white-text);
  padding: 15px;
  text-align: right;
  margin-bottom: 30px;
}

.keys-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  border-radius: 8px;
  background-color: var(--toggleKeypad-bg);
  color: var(--white-text);
}

.keys-section > div {
  cursor: pointer;
}

.primary-key {
  background-color: var(--key-bg-orange);
  color: var(--very-dark-blue);
}

.secondary-key {
  background-color: var(--key-bg);
}

.equal-key {
  background-color: var(--red);
}
