html {
  box-sizing: border-box;
  font-size: 32px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

main {
  width: 375px;
}

.container-calc {
  background-color: var(--main-bg);
  padding: 25px;
}

.container-calc h1 {
  color: var(--white-text);
  font-size: 1rem;
  margin-bottom: 20px;
}

.screen-section {
  width: 100%;
  background-color: var(--screen-bg);
  border-radius: 8px;
  color: var(--white-text);
  padding: 15px;
  text-align: right;
  margin-bottom: 30px;
}

.keys-section {
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(4, 65px);
  grid-template-rows: repeat(5, 65px);
  gap: 10px;
  border-radius: 8px;
  background-color: var(--toggleKeypad-bg);
  color: var(--white-text);
  justify-items: center;
  justify-content: center;
}

.keys-section > div {
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  place-items: center;
  padding: 8px;
  font-size: 0.6rem;
}

.primary-key {
  background-color: var(--key-bg-orange);
  color: var(--very-dark-blue);
  justify-self: stretch;
}

.secondary-key {
  background-color: var(--key-bg);
  justify-self: stretch;
}

.reset {
  grid-column-start: 1;
  grid-column-end: 3;
}

.equal-key {
  background-color: var(--red);
  grid-column-start: 3;
  grid-column-end: 5;
  justify-self: stretch;
}
