:root {
  /* Variables de colores del background */
  --main-bg: hsl(222, 26%, 31%);
  --toggleKeypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);

  /* Variables de colores de los keys */
  --key-bg: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);
  --red: hsl(6, 63%, 50%);
  --key-shadow-red: hsl(6, 70%, 34%);
  --key-bg-orange: hsl(30, 25%, 89%);
  --key-shadow-orange: hsl(28, 16%, 65%);

  /* Variables de colores de texto */
  --very-dark-blue: hsl(221, 14%, 31%);
  --white-text: hsl(0, 0%, 100%);
}

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
